#expense-editor-container {
    margin: 10px 20px;
}

.field > div {
    margin: 0 10px;
}

.expense-editor-share-ruler {
    width: 75%;
    height: 1px;
    background-color: #777;
    position: relative;
    margin: 12px auto;
}

.field > .columns > .column {
    padding-top: 0;
    padding-left: 0;
}
