.expense-item {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    max-height: 0;
}

.expense-item-collapsed {
    max-height: 500px;
}

.category-name {
    font-size: 17px;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    letter-spacing: 3px;
    text-transform: uppercase;
}
