@import "tailwindcss";

body {
  background: linear-gradient(45deg, #fff5e6, #f3e5f5);
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}