@import "tailwindcss";

body {
  background: linear-gradient(45deg, #fff5e6, #f3e5f5);
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.vertical-center {
  margin: auto 0;
}

.horizontal-center {
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.place-element-center {
  display: grid;
  place-items: center;
}

.horizontal-ruler {
  background-color: #909090;
  height: 1px;
  width: 100%;
}