body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.vertical-center {
  margin: auto 0;
}

.horizontal-center {
  margin: 0 auto;
}

.capitalize {
  text-transform: capitalize;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

